<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Travel Buddy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" />
</head>

<body id="create" class="is-preload">
	<div id="page-wrapper" class="buddybox">

		<!-- Header -->
		<header id="header">
			<nav id="nav">
				<ul>
					<li>
						<a href="#" class="icon solid fa-angle-down">Menu</a>
						<ul>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/expensePage">Expenses</a></li>
							<li><a href="/findBuddy">Live Chat</a></li>
							<li><a href="/diningPage">Dining Locator</a></li>

						</ul>
					</li>
					<li><a href="/logout" class="button">Logout</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="container medium">
			<header>
				<h2>Find Buddy to Chat</h2>
				<p>Connect with nurses in your state!</p>
			</header>
			<div id="buddyBox" class="box">
				<ul id="listBuddy">
					<%  for(var i=0 ; i < profiles.length; i++) {
						console.log(profiles[i].user, myProfile.user, profiles[i], myProfile, )
						if(profiles[i].user != myProfile.user  ) {
						%>

						<li><a href="/livechatPage/<%= profiles[i]._id %> "><%= profiles[i].firstName %> <%= profiles[i].lastName %></a> <span><%= profiles[i].state %></span> </li>



					<% }
				} %>
				</ul>
			</div>

		</section>

	</div>

	<!-- Scripts -->
	<script src="jquery.min.js"></script>
	<script src="jquery.dropotron.min.js"></script>
	<script src="jquery.scrollex.min.js"></script>
	<script src="browser.min.js"></script>
	<script src="breakpoints.min.js"></script>
	<script src="util.js"></script>
	<script src="main.js"></script>

</body>

</html>
